In [6]:
import numpy as np
import pandas as pd

# Load dataset
df = pd.read_excel("D:/data for address/masterdata2025.xlsx")
df.head()

,Cnote No,Sold Id,B Code,Date,CCode,F Mani,Date.1,S Mani,Date.2,receiver,...,D Reason,D Time,Rec By,Contact No,Agent Name,DRS Date,Inb Branch,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,HRP827266,K31465,ANDE,2024-11-15,HPRO,NaN,NaT,NaN,NaT,KROMAKAY,...,Signature,11:03:17,NaN,NaN,YOGESH KARANJKAR,2025-01-02,N,NaT,HDFC ROLL PROACTIVE MUMBAI,Top Proitity
1,FD1544463,97015402,KND,2024-11-16,FSO006,NaN,NaT,NaN,NaT,HEMANI DRESSES,...,Signature,11:12:16,NaN,NaN,YOGESH KARANJKAR,2025-01-15,N,NaT,FISERV INDIA PVT LTD,NaN
2,FD1544473,95326254,KND,2024-11-16,FSO006,NaN,NaT,NaN,NaT,JOBAN,...,Signature,11:12:16,NaN,NaN,YOGESH KARANJKAR,2025-01-15,N,NaT,FISERV INDIA PVT LTD,NaN
3,FD1544490,97013918,KND,2024-11-16,FSO006,NaN,NaT,NaN,NaT,NATRAJ FURNISHING,...,Signature,11:12:16,NaN,NaN,YOGESH KARANJKAR,2025-01-15,N,NaT,FISERV INDIA PVT LTD,NaN
4,FD1544504,95046181,KND,2024-11-16,FSO006,NaN,NaT,NaN,NaT,ROOP RANGOLI,...,REFUSE,11:12:16,NaN,NaN,YOGESH KARANJKAR,2025-01-15,N,NaT,FISERV INDIA PVT LTD,NaN

In [5]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754 entries, 0 to 1753
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cnote No     1754 non-null   object
 1   Sold Id      1754 non-null   object
 2   B Code       1754 non-null   object
 3   Date         1754 non-null   datetime64[ns]
 4   CCode        1754 non-null   object
 5   F Mani       1 non-null      object
 6   Date.1       1 non-null      datetime64[ns]
 7   S Mani       1 non-null      object
 8   Date.2       1 non-null      datetime64[ns]
 9   receiver     1754 non-null   object
 10  Address      1754 non-null   object
 11  R_City       1110 non-null   object
 12  Pincode      1754 non-null   int64
 13  Contact no   1754 non-null   object
 14  Weight       1754 non-null   float64
 15  PkStatus     1754 non-null   object
 16  D_date       1754 non-null   datetime64[ns]
 17  D Reason     1614 non-null   object
 18  D Time       1754 non-null   object
 19  Rec By       0 non-null      float64
 20  Contact No   0 non-null      float64
 21  Agent Name   1754 non-null   object
 22  DRS Date     1754 non-null   datetime64[ns]
 23  Inb Branch   1754 non-null   object
 24  Unnamed: 24  1 non-null      datetime64[ns]
 25  Unnamed: 25  1754 non-null   object
 26  Unnamed: 26  118 non-null    object
dtypes: datetime64[ns](6), float64(3), int64(1), object(17)
memory usage: 370.1+ KB

In [11]:
df.columns

Index(['Cnote No', 'Sold Id', 'B Code', 'Date', 'CCode', 'F Mani', 'Date.1',
       'S Mani', 'Date.2', 'receiver', 'Address', 'R_City', 'Pincode',
       'Contact no', 'Weight', 'PkStatus', 'D_date', 'D Reason', 'D Time',
       'Rec By', 'Contact No', 'Agent Name', 'DRS Date', 'Inb Branch',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [12]:
df.isnull().sum()

Cnote No          0
Sold Id           0
B Code            0
Date              0
CCode             0
F Mani         1753
Date.1         1753
S Mani         1753
Date.2         1753
receiver          0
Address           0
R_City          644
Pincode           0
Contact no        0
Weight            0
PkStatus          0
D_date            0
D Reason        140
D Time            0
Rec By         1754
Contact No     1754
Agent Name        0
DRS Date          0
Inb Branch        0
Unnamed: 24    1753
Unnamed: 25       0
Unnamed: 26    1636
dtype: int64

In [15]:
df.describe()

,Date,Date.1,Date.2,Pincode,Weight,D_date,Rec By,Contact No,DRS Date,Unnamed: 24
count,1754,1,1,1754.000000,1754.000000,1754,0.0,0.0,1754,1
mean,2025-01-16 21:10:03.420752384,2025-01-31 00:00:00,2025-01-31 00:00:00,400071.966363,0.100513,2025-01-27 16:34:12.451539200,NaN,NaN,2025-01-26 07:56:10.125427968,2025-01-31 00:00:00
min,2024-11-15 00:00:00,2025-01-31 00:00:00,2025-01-31 00:00:00,400029.000000,0.100000,2025-01-01 00:00:00,NaN,NaN,2024-12-27 00:00:00,2025-01-31 00:00:00
25%,2024-12-31 00:00:00,2025-01-31 00:00:00,2025-01-31 00:00:00,400053.000000,0.100000,2025-01-09 00:00:00,NaN,NaN,2025-01-08 00:00:00,2025-01-31 00:00:00
50%,2025-01-16 00:00:00,2025-01-31 00:00:00,2025-01-31 00:00:00,400057.000000,0.100000,2025-01-29 00:00:00,NaN,NaN,2025-01-27 00:00:00,2025-01-31 00:00:00
75%,2025-01-31 00:00:00,2025-01-31 00:00:00,2025-01-31 00:00:00,400058.000000,0.100000,2025-02-11 00:00:00,NaN,NaN,2025-02-07 00:00:00,2025-01-31 00:00:00
max,2025-02-19 00:00:00,2025-01-31 00:00:00,2025-01-31 00:00:00,421201.000000,1.000000,2025-02-27 00:00:00,NaN,NaN,2025-02-27 00:00:00,2025-01-31 00:00:00
std,NaN,NaN,NaN,505.718001,0.021490,NaN,NaN,NaN,NaN,NaN

In [17]:
df.duplicated().sum()

np.int64(0)